* {
    padding: 0;
    margin: 0;
}

#carousel-left, 
#carousel-right {
    position: absolute; 
    width: 90px; 

    cursor: pointer; 
}

#carousel-left {
    top: calc(50% - 45px); 
}

#carousel-right {
    top: calc(50% - 45px);
    left: calc(100% - 90px); 
}

.picture-frame {
    position: relative; 
    width: 100vw; 
    overflow: hidden;
}

.pictures {
    width: 400vw;
    display: flex;
}

.carousel-picture {
    height: 100vh; 
    width: 100vw;
} 

